Repository falcosecurity/kernel-crawler, pull requests merged in 2022-11, with the labels that each got.

#64 new(ci): add github test ci for main.
  .github/workflows/ci.yml
Labels: dco-signoff: yes, approved, lgtm, size/M, area/ci, kind/feature

#66 Improve Error Handling
  kernel_crawler/rpm.py
Labels: dco-signoff: yes, approved, lgtm, size/M, kind/cleanup, area/ci, area/crawler

#70 fix(kernel_crawler): fix referenced before assignment issue.
  kernel_crawler/rpm.py
Labels: kind/bug, dco-signoff: yes, approved, size/XS, lgtm, area/crawler
