Repository falcosecurity/kernel-crawler, pull requests merged in 2022-07, with the labels that each got.

#24 update(kernels): update kernel json lists.
  kernels/aarch64/list.json
  kernels/x86_64/list.json
Labels: dco-signoff: yes, approved, lgtm, size/XXL

#26 switching to vault.centos.org and adding archive.kernel.org
  kernel_crawler/centos.py
  requirements.txt
Labels: dco-signoff: yes, approved, lgtm, size/S, area/crawler

#30 fix(crawler): skip photonOS linux-PAM-devel packages.
  kernel_crawler/__init__.py
  kernel_crawler/photon_os.py
Labels: kind/bug, dco-signoff: yes, approved, lgtm, size/S, area/crawler

#29 Update for Driverkit's new Ubuntu Support
  kernel_crawler/ubuntu.py
Labels: dco-signoff: yes, approved, lgtm, size/S, area/crawler

#33 Fixing Python3 Support
  kernel_crawler/minikube.py
  requirements.txt
Labels: kind/bug, dco-signoff: yes, approved, lgtm, size/S, area/crawler
