Repository falcosecurity/kernel-crawler, pull requests merged in 2022-10, with the labels that each got.

#52 update(kernels): update kernel json lists.
  aarch64/list.json
  x86_64/list.json
Labels: dco-signoff: yes, approved, lgtm, size/XXL

#53 Better UX for buttons of the webpage
  index.html
Labels: dco-signoff: yes, approved, lgtm, size/L

#54 Adding 5.15 to AmazonLinux2 kernel urls
  kernel_crawler/amazonlinux.py
Labels: dco-signoff: yes, approved, size/XS, lgtm, area/crawler, kind/feature

#56 Introduce support to AlmaLinux and RockyLinux
  kernel_crawler/almalinux.py
  kernel_crawler/crawler.py
  kernel_crawler/rockylinux.py
Labels: dco-signoff: yes, approved, lgtm, size/M, area/crawler, kind/feature

#57 chore: added release.md file.
  release.md
Labels: dco-signoff: yes, approved, lgtm, size/S

#58 adjust rockylinux driverkit target to rocky
  kernel_crawler/rockylinux.py
Labels: kind/bug, dco-signoff: yes, approved, size/XS, lgtm, area/crawler
