Repository falcosecurity/kernel-crawler, pull requests merged in 2023-06, with the labels that each got.

#146 docs(README.md): add scope and status badges
  README.md
Labels: dco-signoff: yes, approved, size/XS, lgtm

#148 fix(kernel_crawler): fixed talos output protocol.
  kernel_crawler/talos.py
Labels: kind/bug, dco-signoff: yes, approved, size/XS, lgtm, area/crawler

#151 new: last run distro
  README.md
  last_run_distro.txt
Labels: dco-signoff: yes, approved, size/XS, lgtm, kind/feature

#153 fix(ubuntu): removed version from kernel flavor
  kernel_crawler/ubuntu.py
Labels: kind/bug, dco-signoff: yes, approved, size/XS, lgtm, area/crawler

#147 fix(kernel_crawler): properly support debian `cloud` and `rt` flavors.
  kernel_crawler/debian.py
Labels: kind/bug, dco-signoff: yes, approved, lgtm, size/M, area/crawler

#158 fix(ci): properly quote distro when creating last_run_distro file.
  .github/workflows/update-kernels.yml
Labels: kind/bug, dco-signoff: yes, approved, size/XS, lgtm, area/ci
