Repository falcosecurity/kernel-crawler, pull requests merged in 2023-05, with the labels that each got.

#127 fix(ci): fixed `if:` condition for update-kernels single distro update step
  .github/workflows/update-kernels.yml
Labels: kind/bug, dco-signoff: yes, approved, size/XS, lgtm, area/ci

#129 chore(readme.md): updated docs for docker images generation.
  README.md
Labels: dco-signoff: yes, approved, size/XS, lgtm, area/ci

#131 new(kernel_crawler): add talos support.
  .github/workflows/update-kernels.yml
  README.md
  kernel_crawler/crawler.py
  kernel_crawler/git.py
  kernel_crawler/talos.py
Labels: dco-signoff: yes, approved, lgtm, size/M, area/crawler, kind/feature

#134 fix(kernel_crawler): fixed talos support.
  kernel_crawler/git.py
  kernel_crawler/talos.py
Labels: kind/bug, dco-signoff: yes, approved, lgtm, size/M, area/crawler

#138 Oracle UEK's Use Kernel Version 2
  kernel_crawler/oracle.py
Labels: kind/bug, dco-signoff: yes, approved, lgtm, size/S, area/crawler

#141 Revisit CentOS 8
  kernel_crawler/centos.py
Labels: dco-signoff: yes, approved, lgtm, kind/cleanup, size/S, area/crawler
